{
  "app-secret": "{{ vault_app_secret }}",
  "app": {
    "port": 3000,
    "logs": {
      "enabled": true,
      "path": "/var/log/api/access.log"
    }
  },
  "database": {
      "host": "mongodb://localhost/onmytravel"
  },
  "storage": {
    "provider": "openstack",
    "username": "{{ vault_openstack_username }}",
    "password": "{{ vault_openstack_password }}",
    "authUrl": "{{ vault_openstack_auth_url }}",
    "tenantId": "{{ vault_openstack_tenantid }}",
    "region": "{{ vault_openstack_region }}"
  }
}
