{
  "app-secret": "supersecret",
  "app": {    
    "port": 3000,
    "logs": {
      "enabled": true,
      "path": "/var/log/api/access.log"
    }
  },
  "database": {
      "host": "mongodb://localhost/onmytravel"
  },
  "storage": {
    "provider": "provider",
    "username": "KE2QXVrk",
    "password": "NUTRXm4MzEsNDUfGa4NUv9LA",
    "authUrl": "https://auth.cloud.ovh.net/",
    "tenantId": "xCE8cBPZyKCSLBjKZ8HmW8KtU7XxRyNu",
    "region": "DxWt"
  }
}
