server {
  listen 80;
  server_name {{ site_api_subdomain }};

  error_log {{ nginx_error_file }};

  # Special configuration to be used for SSL on API
  location /.well-known {
    root {{ nginx_application_path }};
	  index index.html index.htm;

		try_files $uri $uri/ =404;
	}

  location / {
    proxy_pass http://127.0.0.1:3000;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection 'upgrade';
    proxy_set_header Host $host;
    proxy_cache_bypass $http_upgrade;
  }

}

# HTTPS server
# 
server {
	listen 443;
	server_name {{ site_api_subdomain }};

  error_log {{ nginx_error_file }};

  {% if generate_site_config_with_ssl %}
    ssl on;
    ssl_certificate      {{ ssl_certificate_path }};
    ssl_certificate_key  {{ ssl_keyfile_path }};

    ssl_session_timeout 5m;

    ssl_protocols SSLv3 TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers "HIGH:!aNULL:!MD5 or HIGH:!aNULL:!MD5:!3DES";
    ssl_prefer_server_ciphers on;
  {% endif %}

  location / {
      proxy_pass http://127.0.0.1:3000;
      proxy_http_version 1.1;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection 'upgrade';
      proxy_set_header Host $host;
      proxy_cache_bypass $http_upgrade;
  }
}
